{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card with context %}

{% block title %}FreeForm{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <form action="" enctype='multipart/form-data' method="post">
                <table class="table table-bordered">
                    <tr>
                        <h5>Pre-Trained Model Choose</h5>
                    </tr>
                    <tr>
                        <td>
                            <p>Test Dataset Choose:</p>
                            <div>
                                <label class="radio-inline"><input type="radio" name="dataset" id="radioparis"
                                                                   value="pstreetview" onclick="radioChanged(this.value)">Paris-StreetView</label>
                                <label class="radio-inline"><input type="radio" name="dataset" id="radioplaces"
                                                                   value="places2" onclick="radioChanged(this.value)">Places2</label>
                                <label class="radio-inline"><input type="radio" name="dataset" id="radiocelebahq"
                                                                   value="celebahq" onclick="radioChanged(this.value)">CelebAHQ</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Algrithm:</p>
                            <div>
                                <label><input type="radio" name="algrithm" id="radiogmcnn" value="gmcnn">gmcnn</label>
                                <label><input type="radio" name="algrithm" id="radiodeepfill" value="deepfill">deepfill</label>
                                <label><input type="radio" name="algrithm" id="radioedge" value="edge">edge_connect</label>
                                <label><input type="radio" name="algrithm" id="radioexifill" value="exifill">exifill</label>
                                <!--<label><input type="radio" name="algrithm" id="radioplural" value="pluralistic">pluralistic-gpu</label>-->

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Image upload</h5>
                            <input type="file" id="uploadimgfile" name="uploadimgfile">
                            <input id="submit" name="submit" type="submit" value="submit"></h5>
                        </td>
                    </tr>

                </table>
            </form>

        </div>
        <div class="col-md-4 align-self-center">
            <h3>Inpaint Your Own Image</h3>
            <p>For inpaint your image, we need you to do TWO steps. 1,upload image. 2,choose inpaint areas.</p>
            <p>Step ONE: UPLOAD IMAGE</p>
            <p>1-1: Choose one and only one kind DATASET for your image. (Default is places2_256)</p>
            <p>1-2: Choose one algrithm or not.</p>
            <p>1-3: Upload your image. (MUST)</p>
            <p>1-4: Submit your image. (system will redirect to the image edit page Automaticly.</p>
            <p>Attention: If your image size is not suit for models, we wil resize your image to suitable size Automatically.</p>
        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}

<script>

    /**
     * 选择数据集，禁用不可用模型的radio判断当前选择的数据集是哪一个，然后禁用无此预训练模型的算法
     * @param
     */
    function radioChanged(value){
        if(value=="pstreetview"){
            document.getElementById("radiodeepfill").disabled=true;
            document.getElementById("radioexifill").disabled=true;
        }else if(value=="places2"){
            document.getElementById("radiodeepfill").disabled=false;
            document.getElementById("radioexifill").disabled=false;
        }else if(value=="celebahq"){
            document.getElementById("radiodeepfill").disabled=false;
            document.getElementById("radioexifill").disabled=true;
        }
    };

</script>
{% endblock %}