{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card with context %}

{% block title %}FreeForm{% endblock %}

{% block content %}
<div class="jumbotron">

    <!--画布的大小尺寸需要动态变化，根据上面选择的模型，生成对应大小的画布，同时，测试图片再进行修复前也需要进行尺寸调整-->
    <div class="row">
        <h5>Inpainting Area Choose</h5>
    </div>
    <div class="row">

        <div class="col-md-8">
            <canvas id="canvasimg" width="{{ imagesize[1] }}" height="{{ imagesize[0] }}"></canvas>
            <form action='/freeform/results/' method="post">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            Rectangle Choose
                            <input type="checkbox" id="RectangleCheckbox">
                            <input type="button" id="eraseAllButton" value="clear">
                            <input type="submit" id="submit" value="RunInpaint">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Choosed parameters</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            dataset:<input type="text" id="chooseddataset" name="chooseddataset" value="None" placeholder="None" readonly>
                            algrithm:<input type="text" id="choosedalgrithm" name="choosedalgrithm" value="None" placeholder="None" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            imgpath:<input type="text" id="choosedimagepath" name="choosedimagepath" value="None" placeholder="None" readonly>
                            masksLOC:<input type="area" id="choosedmasks" name="choosedmasks" value="None" placeholder="None" readonly>
                        </td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="col-md-4 align-self-center">
            <h3>Inpaint Your Own Image</h3>
            <p>For inpaint your image, we need you to do TWO steps. 1, upload image. 2, choose inpaint areas.</p>
            <p>Step TWO: CHOOSE INPAINT AREAS</p>
            <p>2-1: Checked the checkbox of rectangle choose.(MUST)</p>
            <p>2-2: Choose inpaint areas with several rectangles.(MUST)</p>
            <p>2-3: Run Inpaint.</p>
        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}

<script>
    var canvas = document.getElementById('canvasimg'),
        context = canvas.getContext('2d'),
        eraseAllButton = document.getElementById('eraseAllButton'),
        RectangleCheckbox = document.getElementById('RectangleCheckbox'),

        choosedimagepath = document.getElementById('choosedimagepath'),
        chooseddataset = document.getElementById('chooseddataset'),
        choosedalgrithm = document.getElementById('choosedalgrithm'),
        choosedmasks = document.getElementById('choosedmasks'),

        drawingSurfaceImageData,
        mousedown = {},
        rubberbandRect = {},
        rectmaskisfirst=true,
        rectmaskstrings="",
        dragging = false,
        rectangle = RectangleCheckbox.checked;

        choosedimagepath.value = "{{ imagepath }}";
        chooseddataset.value = "{{ dataset }}";
        choosedalgrithm.value = "{{ algrithm }}";
        choosedmasks.value = rectmaskstrings;

    var imageObj = new Image();
    imageObj.onload = function() {
        context.drawImage(imageObj, 0, 0);
    };
    imageObj.src = "{{ url_for('static', filename=imagepath) }}";

    /**
     * 画网格
     * @param color
     * @param stepX
     * @param stepY
     */
    function drawGrid(color, stepX, stepY) {
        context.save();
        context.lineWidth = 0.5;
        context.strokeStyle = color;

        for (var i = stepX + 0.5; i < canvas.width; i += stepX) {
            context.beginPath();
            context.moveTo(i, 0 + 0.5);
            context.lineTo(i, canvas.height + 0.5)
            context.stroke();
        }

        for (var i = stepY + 0.5; i < canvas.height; i += stepY) {
            context.beginPath();
            context.moveTo(0 + 0.5, i);
            context.lineTo(canvas.width, i);
            context.stroke();
        }
        context.restore();
    }

    /**
     * 坐标转化为canvas坐标
     * @param x
     * @param y
     */
    function windowToCanvas(x, y) {
        //返回元素的大小以及位置
        var bbox = canvas.getBoundingClientRect();
        return {x: x - bbox.left * (canvas.width / bbox.width), y: y - bbox.top * (canvas.height / bbox.height)};

    }

    //保存和恢复绘图面板

    function saveDrawingSurface() {
        drawingSurfaceImageData = context.getImageData(0, 0, canvas.width, canvas.height);
    }

    function restoreDrawingSurface() {
        context.putImageData(drawingSurfaceImageData, 0, 0);
    }

    //Rubber bands

    /**
     * 更新橡皮筋矩形
     * @param loc
     */
    function updateRubberbandRectangle(loc) {
        rubberbandRect.width = Math.abs(loc.x - mousedown.x);
        rubberbandRect.height = Math.abs(loc.y - mousedown.y);

        //从左往右拉，和从右往左拉的两种情况。主要是判断左边的位置
        //因为从左往右拉的时候，左边x坐标不变
        //从右往左拉的时候，左边线的x坐标需要跟着鼠标移动

        if (loc.x > mousedown.x) rubberbandRect.left = mousedown.x;
        else rubberbandRect.left = loc.x;

        if (loc.y > mousedown.y) rubberbandRect.top = mousedown.y;
        else rubberbandRect.top = loc.y;

        context.save();
        context.beginPath();
        //context.rect(rubberbandRect.left, rubberbandRect.top, rubberbandRect.width, rubberbandRect.height);
        context.clearRect(rubberbandRect.left, rubberbandRect.top, rubberbandRect.width, rubberbandRect.height);
        //context.stroke();
        context.restore();
        if(!dragging){
            if(rectmaskisfirst){
                rectmaskstrings=rubberbandRect.left.toString()+","+rubberbandRect.top.toString()+","+rubberbandRect.width.toString()+","+rubberbandRect.height.toString()
                rectmaskisfirst=false;
                choosedmasks.value = rectmaskstrings;
            }else{
                rectmaskstrings=rectmaskstrings+","+rubberbandRect.left.toString()+","+rubberbandRect.top.toString()+","+rubberbandRect.width.toString()+","+rubberbandRect.height.toString()
                choosedmasks.value = rectmaskstrings;
            }
        }

    }

    /**
     * 画可以看得见的线
     * @param loc
     */
    function drawRubberbandShape(loc) {
        context.beginPath();
        context.moveTo(mousedown.x, mousedown.y);
        context.lineTo(loc.x, loc.y);
        context.stroke();
    }

    /**
     * 更新橡皮筋
     * @param loc
     */
    function updateRubberband(loc) {

        if (rectangle){
            updateRubberbandRectangle(loc);
        }
        //drawRubberbandShape(loc);


    }

    //Guidewires辅助线

    /**
     * 画水平辅助线，占整个宽canvas度
     * @param y
     */
    function drawHorizontalLine(y) {
        context.beginPath();
        context.moveTo(0, y + 0.5);
        context.lineTo(canvas.width, y + 0.5);
        context.stroke();
    }

    /**
     * 画垂直辅助线，占整个canvas高度
     * @param x
     */
    function drawVerticalLine(x) {
        context.beginPath();
        context.moveTo(x + 0.5, 0);
        context.lineTo(x + 0.5, context.canvas.height);
        context.stroke();
    }

    /**
     * 画辅助线，并设置属性
     * @param x
     * @param y
     */
    function drawGuidewires(x, y) {
        context.save();
        context.strokeStyle = 'rgba(0,0,230,0.4)';
        context.lineWidth = 0.5;
        drawVerticalLine(x);
        drawHorizontalLine(y);
        context.restore();
    }

    /**
     * 鼠标按下的时候，记录坐标，并设置为拖拽状态
     * @param e
     */
    canvas.onmousedown = function (e) {
        var loc = windowToCanvas(e.clientX, e.clientY);

        e.preventDefault();
        saveDrawingSurface();
        mousedown.x = loc.x;
        mousedown.y = loc.y;
        dragging = true;
    }

    /**
     * （鼠标按下之后）鼠标移动的时候
     * 判断拖拽中：更新当前连线的位置
     * 判断辅助线显示：添加辅助线
     * @param e
     */
    canvas.onmousemove = function (e) {
        var loc;
        if (dragging) {
            e.preventDefault();
            loc = windowToCanvas(e.clientX, e.clientY);
            restoreDrawingSurface();
            updateRubberband(loc);
            drawGuidewires(loc.x, loc.y);
        }
    }

    /**
     * (拖拽完成后)当鼠标松开时，重新获取本点坐标，清除之前的"跟随鼠标移动的线"，更新连线，取消拖拽状态
     * @param e
     */
    canvas.onmouseup = function (e) {
        loc = windowToCanvas(e.clientX, e.clientY);
        dragging = false;
        restoreDrawingSurface();
        updateRubberband(loc);

    };

    //控制器的事件

    /**
     * 清除所有画布图像
     * @param ev
     */
    eraseAllButton.onclick = function (ev) {
        context.drawImage(imageObj, 0, 0);
        rectmaskisfirst=true;
        rectmaskstrings="";
        choosedmasks.value = rectmaskstrings;
        //context.clearRect(0, 0, canvas.width, canvas.height);
        //drawGrid('lightgray', 10, 10);
        //saveDrawingSurface();
    };

    RectangleCheckbox.onchange = function(ev){
        rectangle = RectangleCheckbox.checked;
    };

    drawGrid('lightgray', 10, 10);



</script>
{% endblock %}