{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card with context %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/index.jpg') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4 align-self-center">
                <h2>Image Inpainting System</h2>
                <p>We offer TWO main functions:</p>
                <p>1.Comparison of different iamge inpaint algorithms.</p>
                <p>2.Inpaints your own broken image with different algrithm.</p>
                <p>Please read the introduction of each function in it's page before use.</p>
            </div>
        </div>
    </div>
{% endblock %}
